rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Reglas para la colección 'usuarios'
    match /usuarios/{usuario} {
      allow read, write: if request.auth != null && request.auth.uid == usuarioId;
    }

    // Reglas para la colección 'posts'
    match /posts/{post} {
      allow read: if true;  // Permitir la lectura a todos los usuarios
      allow create, update, delete: if request.auth != null && request.auth.uid == resource.data.usuarioId;
    }

  }
}
