body {
    background-color: #BFC9CA;
}

h1 {
    font-family: 'Lobster';
    font-weight: 800;
    font-size: 60px;
    color: #5499C7;
    margin-top: 0px;
}
 
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font: 60px sans-serif;
    font-style: oblique;
    text-align: center;
    color: #34495E;
}
.container {
    position: relative;
    display: flex;
    /* Ajustar la altura y el ancho del contenedor si es necesario */
  }
  button {
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border-color: aliceblue;
    background-color: #73C6B6;
    color: white;
    padding: 10px 20px;
    align-items: center;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  input, :root {
    margin: 50px;
    padding: 10px 100px;
    border-radius: 5px;
    border: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  li {
    float: left;
  }

  .navbar {
    background-color: #5499C7; /* cambia el color de fondo a tu preferencia */
    position: fixed; /* fija la barra de navegación en la parte superior de la pantalla */
    top: 0; /* establece la distancia desde la parte superior de la pantalla */
    left: 0; /* establece la distancia desde el borde izquierdo de la pantalla */
    width: 100%; /* cubre toda la pantalla */
    margin: 0; /* establece el margen a cero */
    padding: 0; /* establece el relleno a cero */
  }
  
  .navbar ul {
    list-style: none; /* elimina los puntos de la lista */
    display: flex; /* convierte la lista en un flexbox */
    margin: 10px; 
    padding: 0; /* establece el relleno a cero */
  }
  
  .navbar a {
    display: block; /* convierte el enlace en un bloque */
    color: #fff; /* cambia el color del texto a tu preferencia */
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none; /* elimina el subrayado del enlace */
    padding: 10px; /* agrega relleno al enlace */
  }
  .sesion {
    margin-left: auto;
  }